/*HEADER*/

header {
    background-color: black;
    padding: 10px;
    text-align: center;

}

header img {
    margin-left: 1rem;
    height: 3rem;

}

body {

    min-width: 450px;
    max-width: 500px;
    margin: 0;
    overflow-x: hidden;
    padding: 0;
    color: #393d41;
    font-size: 1, 2rem;
    font-family: 'Open Sans', sans-serif;
    text-align: center;
    line-height: 1, 65;
}

h1,
h2,
h3 {
    color: #25a2c3;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    text-align: center;
    line-height: 1.5;
}

div {
    text-align: center;
}

/*
BANNER BLOCK
*/

#banner-block {
    position: relative;
    display: inline-block;
    overflow: hidden;
}

#banner-block img {
    display: block;
    width: 100%;
    height: auto;
    object-fit: cover;
}

#image_overlay {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 10px 20px;
    font-size: 2rem;
    text-align: center;
}

#image_overlay h1 {
    font-size: 1em;
    line-height: 2rem;
    margin-bottom: 1rem;
}

#image_overlay p {
    font-size: 1.2rem;
    width: 340px;

    margin-bottom: 0.5em;
}

button {
    color: white;
    background-color: #f04c2f;
    border: none;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    padding: 10px;
    cursor: pointer;
    border-radius: 3px 3px
}

/*
BLOCK LAPTOP
*/

#block-laptop {
    padding: 15px;
    margin-top: 40px;
    margin-bottom: 40px;
}

#notebook {
    border-radius: 50%;
    margin-top: 30px;
    margin-bottom: 30px;
}


.laptop-text {

    text-align: center;
}

.laptop-text div {
    text-align: center;
    line-height: 1.5rem;
}

.laptop-text h3 {
    text-align: center;
    font-size: 1.4rem;
}

.laptop-text p {
    text-align: center;
    font-size: 1rem;
}


hr {
    width: 12%;
}

/*
TESTIMONIANZE
*/

#testimonianze {
    background-color: #e22d0e;
    color: white;
    padding: 6rem;
    font-size: 1.5rem;
    line-height: 2rem;
}

#testimonianze h3 {
    color: white;
    font-size: larger;
}

#testimonanze-quote {
    font-style: italic;

}

#mario-rossi {
    font-size: 1rem;
}

#ceo {
    font-size: 0.6rem;
    line-height: 0.4rem;
}

/*
INLINE BLOCK
*/

#container {
    display: inline-block;
    padding: 20px;
    margin-top: 50px;
    margin-bottom: 60px;
}

.block {
    border: 0.5px solid lightgrey;

    display: inline-block;
    vertical-align: top;
    max-width: 336px;
    line-height: 1rem;
    margin-bottom: 30px;

    border-radius: 1%
}

.block h3 {
    font-size: 0.8rem;
}

.block p {
    font-size: 0.8rem;
    width: 100%;
    ;
}

.block img {
    width: 336px;
    height: 223px;
}

.block div {
    padding: 1rem;
}

/*
FOOTER
*/

footer {
    padding: 2rem;
    ;
    background-color: #25a2c3;
    color: white;
}

footer h2 {
    font-size: 3rem;
    padding: 0.5rem;
}

footer u {
    cursor: pointer;
}

footer p {
    font-size: 90%;
    color: #c8e7f0;
}

footer i {
    color: white
}

#contacts {
    line-height: 1.3rem;
    text-align: center;
}

#copyright {
    font-size: 70%;
}